/* main.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing);
}

header {
  color: white;
  text-align: center;
  padding: var(--spacing);
}

h1, h2, h3 {
  font-family: var(--font-family);
  color: var(--primary-color);
  margin-bottom: var(--spacing);
}

h1 {
  font-size: var(--header-font-size);
  font-weight: 600;
  border-bottom: 2px solid rgb(113, 103, 103);
  padding-bottom: 10px;
  display: inline-block; /* Restricts the border to text width */
}

h2 {
  font-size: 2rem;
  color: var(--secondary-color);
}


p {
  font-size: 1rem;
  margin-bottom: var(--spacing);
  color: #555;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 15px;
  }

  h1 {
    font-size: calc(var(--header-font-size) - 0.5rem); /* Slightly smaller font size */
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.9rem;
  }

  header {
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: calc(var(--header-font-size) - 1rem); /* Even smaller font size */
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.85rem;
  }

  .container {
    padding: 10px;
  }

  header {
    font-size: 0.9rem;
    text-align: center;
  }
}
